#foot {
    text-align: center;
    background-color:#8d99ae;
    align-items: center;
    color: whitesmoke;
    position: static;
    height: 50px;
    border-top: 2px solid #d0d0d0;
    display: absolute;
    bottom: 0;
}