@use '../../../styles/variables';

footer {
    display: flex;
    text-align: center;
    background-color: variables.$surface-color;
    align-items: center;
    justify-content: center;
    color: variables.$text-muted;
    border-top: 1px solid variables.$border-color;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-height: var(--footer-height);
    box-sizing: border-box;
}
