footer {
    display:flex;
    text-align: center;
    background-color:#8d99ae;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border-top: 2px solid #d0d0d0;
    bottom: 0;
    left: 0;
    position:fixed;
    width:100%;
    min-height: var(--footer-height);
    box-sizing: border-box;
}