@use 'variables' as variables;

.back-button {
    padding:1em;
    background-color:variables.$button-color-primary;
    color: variables.$button-text-color-primary;
    box-shadow: 0 2px 4px variables.$border-light;
    &:hover {
        background-color: variables.$button-color-hover;
        color: variables.$white;
    }
}