<article class="blog-card">
  <div class="card-body">
    @if (tags().length > 0) {
      <div class="card-tags">
        @for (tag of tags().slice(0, 3); track tag) {
          <span class="tag">{{ tag }}</span>
        }
      </div>
    }
    <h3 class="card-title">{{ title() }}</h3>
    @if (excerpt()) {
      <p class="card-excerpt">{{ excerpt() }}</p>
    }
  </div>
  <div class="card-footer">
    <div class="card-meta">
      @if (author()) {
        <span class="card-author">{{ author() }}</span>
      }
      @if (createdAt()) {
        <span class="card-date">{{ createdAt() | date:'mediumDate' }}</span>
      }
    </div>
    <a class="read-more" [routerLink]="['/blog', id()]">Read more &rarr;</a>
  </div>
</article>
