@use '../variables';

.p-dialog {
    color: variables.$text-color !important;
    background-color: variables.$surface-color !important;
    width: 80dvw !important;
    border: 1px solid variables.$border-color !important;
    border-radius: variables.$border-radius-lg !important;
}

.p-dialog .p-dialog-header {
    color: variables.$text-color !important;
    font-size: 1.5rem !important;
    padding: 1rem !important;
    background-color: variables.$secondary-color !important;
    border-bottom: 1px solid variables.$border-color !important;
    border-radius: variables.$border-radius-lg variables.$border-radius-lg 0 0 !important;
}

.p-dialog .p-dialog-content {
    color: variables.$text-color !important;
    background-color: variables.$surface-color !important;
}
