.register-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
        }
    }  
    .button {
            background-color:#A4FEA4;
            color: black;
        }
}