@let formControl = registerForm.controls;

<div class="register-dialog-container">
        <form [formGroup]="registerForm" >
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" formControlName="username" required>
                <label for="email">Email:</label>
                <input type="text" id="email" formControlName="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" required>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" [class]="formControl.confirmPassword.dirty && formControl.password.dirty && formControl.confirmPassword.value !== formControl.password.value ? 'error' : ''" id="confirmPassword" formControlName="confirmPassword" required>
                @if (formControl.confirmPassword.dirty && formControl.password.dirty && formControl.confirmPassword.value !== formControl.password.value) {
                    <span class="error-message">Passwords do not match</span>
                }
                <label for="firstName">First Name <span class="optional-tag">(optional)</span>:</label>
                <input type="text" id="firstName" formControlName="firstName">
                <label for="lastName">Last Name <span class="optional-tag">(optional)</span>:</label>
                <input type="text" id="lastName" formControlName="lastName">
            </div>
        </form>
        <p-button [loading]="isLoading()"
         [class]="registerForm.invalid ? 'disabled' : ''"
         class="button"
         [disabled]="registerForm.invalid"
         type="submit" 
         label="Register" 
         [icon]="'pi pi-check'" 
         (onClick)="onSubmit()"></p-button>
</div>