$primary-color: #14213d;
$secondary-color: #e5e5e5;
$tertiary-color: #fca311;
$text-color: #000000;
$white: #ffffff;
$border-light: rgba(0, 0, 0, 0.1);
$button-color-primary: #20FC8F;
$button-color-hover: #909590;
$button-color-disabled: #2D2D2A;
$button-text-color-primary: #13213d;
$button-text-color-disabled: #ffffff;