.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;
    .form-input {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      gap: 5px;
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
      }
    }
  }
  .register-link {
    display: flex;
    padding: 15px;
    .register {
      pointer-events: auto;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
