<div class="login-container">
  <h2>Login</h2>
  <div class="login">
    <div class="form-group">
      <form [formGroup]="loginForm">
        <div class="form-input">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            required
          />
        </div>
        <div class="form-input">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
          />
        </div>
        <p-button class="button" type="submit" (click)="onLogin()" [loading]="isLoading()">Login</p-button>
      </form>
    </div>
    <div class="register-link">
      Don't have an account?
      <a class="register" (click)="openRegisterDialog()">Register here</a>
    </div>
  </div>
</div>
