@use '../../../styles/variables';

.dashboard-container {
    color: variables.$text-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    h1, h3 {
        color: variables.$primary-color;
        background-color: variables.$secondary-color;
    }
    .blog-card-container {
        display:flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    }

}