.dashboard-container {
    background-color: #ef233c;
    color: #8d99ae;
    .blog-card-container {
        display:flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    }

}