.blog-page-container {
  background-color: #ef233c;

  .blog-content-container {
    color: #fafafb;
    gap: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .container {
      justify-content: center;
      display: flex;
      flex-direction: column;

      .blog-content {
        padding: 1em;
        text-align: left;
      }
    }
  }
}
